<div class="jumbotron text-center">
  <h1>Tech Recon LLC</h1>
  <p class="lead">Welcome to our Tech Recon Website Build by Young software Engineer</p>
  <div>
    <a class="btn btn-primary"
  [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>MOBILE ADVERTISING</h3>
    <p>With growth in mobile and tablet usage,We have the expertise to turn this growth into an opportunity for your business.</p>
  </div>
  <div class="col-md-4">
    <h3>Digital Dashboard</h3>
    <p>Our inovative and highly effective tool for monitoring & analyzing for all digital marketing activities</p>
  </div>
  <div class="col-md-4">
    <h3>Search Advertising</h3>
    <p>Our Stratgeies produce highly targeted campaigns that will acheive your business activities and maximaze your products</p>
  </div>
  <div class="col-md-4">
    <h3>Digital Advertising</h3>
    <p>From display marketing to re-marketing,Our Digital advertising stratgies will will help your business acheive result.</p>
  </div>
  <div class="col-md-4">
    <h3>Social Advertising</h3>
    <p>We understand how this powerful form of advertising can be used to cut through clutter and do wonders for your clutter and business</p>
  </div>
</div>
